body {
    padding: 0;
    margin: 0;
    font-family: 'Moderat';
    font-weight: 500;
    background-color: #060E14
}
.split-screen {
    display: flex;
    flex-direction: column;

}
.left {
    height: 200px;
}
h5{
    margin-left: 25px;
}
.left{
    display: flex;
    justify-content:end;
    align-items:flex-end;
}

.right {
    display: flex;
    justify-content:center;
    align-items: center;
}
.left{
    background:url('we.gif');
    background-size: cover;
    background-position: top;

}

.right .copy {
    color: #060E14;
    
}
h1{
    font-size: 1;
    font-weight: 700;
    color:#FC573C;
    font-family: "Moderat";
}
.switch-field {
	display: flex;
	overflow: hidden;
}

.switch-field input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	height: 15px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #232328;
	color: #FC573C;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 10px 34.5px;
	margin-right: -1px;
	border: 0px solid rgb(0, 0, 0);
	
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #FC573C;
    color: #000000;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}


h2 {
    font-family: "Moderat";
	font-size: 14px;
    word-spacing: 10px;
    text-indent: 1px;
    color: #FC573C ;
}
 
.area{
  font-family: "Moderat";
  outline: 0;
  background: #232328;
  width: 45%;
  border: 0px solid rgb(255, 255, 255);
  margin: 0 0 1px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 35px;
  border-radius: 5px;
  color: #FC573C;
}

::placeholder {
    color: #FC573C;
    opacity: 0.8;
}
.location{
  font-family: "Moderat";
  outline: 1;
  background: #232328;
  width: 45%;
  border: 0 solid rgb(252, 252, 252);
  color:#FC573C;
  margin:  0 0px;
  padding: 3px;
  box-sizing: border-box;
  font-size: 15px;
  height: 40px;
  border-radius: 3px;
  text-align:center;
}
h4{
    font-family: "Moderat";
    font-size: 15px;

}
.submit{
    font-family: "Moderat";
  background: #FC573C;
  width: 40%;
  border: 0;
  margin: 0px 0 10px;
  box-sizing: border-box;
  font-size: 15px;
	height: 40px;
	text-align:center;
	border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}
.result{
		background: #060E14;
		width: 79%;
		border: 0   px solid rgb(255, 255, 255);
		margin: 40px 0 10px;
		box-sizing: border-box;
		font-size: 20px;
		height: 20px;
		text-align: center;
        font-family: "Moderat";
        color: #FC573C;
}

@media screen and (min-width: 900px) {
    .split-screen {
        flex-direction: row;
        height: 100vh;
    }
    .left,
    .right {
        display: flex;
        width: 50%  ;
        height: auto;
    }
}


